<%= link_to "CONTACT",new_contact_path%>
<div class="contact">
  <h1>CONTACT</h1>

  <div class="icones space-evenly">
      <div class="icon twitter">
        <div class="tooltip">linkedin</div>
        <%= link_to "https://www.linkedin.com/in/arnaud-le-garrec-3260a317b/", :target => "_blank" do%>
          <span><i class="fab fa-linkedin"></i></span>
        <% end %>
      </div>
  <div class="icon github">
        <div class="tooltip">github</div>
        <%= link_to "https://github.com/Arndau", :target => "_blank" do%>
          <span><i class="fab fa-github"></i></span>
        <% end %>
      </div>
</div>
