 <div class="projects-container">
  <div class="row d-flex justify-content-around">
    <%= @projects.each do |project| %>
      <div class="col-lg-4 col-sm-6">
      <div class="card-1">
        <div class="card-1_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card-1_title title-white">
          <p>Card Title</p>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
